table{
    width: 100%;
    border: 1px solid black;
}

th{
    background-color: rgb(195, 74, 255);
}

tr{
    background-color: rgb(237, 201, 255);
}

tr:nth-child(even){
    background-color: rgb(231, 183, 255);
}